@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  @apply scroll-smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


@media screen and (min-width: 1024px) {

  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  body {
    position: relative;
  }

  body::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: transparent;
    z-index: 9999;
    pointer-events: none;
  }

  body::after {
    background: #FF60E6;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  body.is-scrolling::after {
    opacity: 1;
  }

  body::after {
    top: var(--scroll-top, 0px);
    height: var(--scrollbar-height, 20%);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
